<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_78c1e3cc282e8e393a762c3ca42db868 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_78c1e3cc282e8e393a762c3ca42db868" ></div>
        
</body>
<script>
    
    
            var map_78c1e3cc282e8e393a762c3ca42db868 = L.map(
                "map_78c1e3cc282e8e393a762c3ca42db868",
                {
                    center: [39.99146723620049, 116.30344984335484],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6b157e719baab134dd7d170e7b59251c = L.tileLayer(
                "https://tile-a.openstreetmap.fr/hot/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_6b157e719baab134dd7d170e7b59251c.addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var marker_fb429d8afad8c12de0e58884fd359491 = L.marker(
                [39.991523, 116.3055725],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_15750c0b98a7af1b701c1634c701f385 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fb429d8afad8c12de0e58884fd359491.setIcon(icon_15750c0b98a7af1b701c1634c701f385);
        
    
        var popup_1d4cf5bc0c0189a236353b1bd267c29e = L.popup({"maxWidth": 400});

        
            
                var html_99a0dd1e42ace571210c4d0b2c6e364c = $(`<div id="html_99a0dd1e42ace571210c4d0b2c6e364c" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">标本馆</h3>     <p style="font-size:20px;">哺乳动物、爬行动物、昆虫等标本</p>     </div>`)[0];
                popup_1d4cf5bc0c0189a236353b1bd267c29e.setContent(html_99a0dd1e42ace571210c4d0b2c6e364c);
            
        

        marker_fb429d8afad8c12de0e58884fd359491.bindPopup(popup_1d4cf5bc0c0189a236353b1bd267c29e)
        ;

        
    
    
            var marker_0732782a62733e2732d960d7afa8c690 = L.marker(
                [39.9864978, 116.3094499],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_771cdc4c084f6dc55fbdb222d0d3c087 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0732782a62733e2732d960d7afa8c690.setIcon(icon_771cdc4c084f6dc55fbdb222d0d3c087);
        
    
        var popup_e6e1f7dc597a74221cfd4b950720ad6e = L.popup({"maxWidth": 400});

        
            
                var html_bea41fd14f4b7b399eed3e9b0900949e = $(`<div id="html_bea41fd14f4b7b399eed3e9b0900949e" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">地质博物馆</h3>     <p style="font-size:20px;">古生物</p>     </div>`)[0];
                popup_e6e1f7dc597a74221cfd4b950720ad6e.setContent(html_bea41fd14f4b7b399eed3e9b0900949e);
            
        

        marker_0732782a62733e2732d960d7afa8c690.bindPopup(popup_e6e1f7dc597a74221cfd4b950720ad6e)
        ;

        
    
    
            var marker_96422fb3c59153e9d94662b88ac380d5 = L.marker(
                [39.993107, 116.3022521],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_2e251ffcba9472c006ae24a8fd8ad3da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_96422fb3c59153e9d94662b88ac380d5.setIcon(icon_2e251ffcba9472c006ae24a8fd8ad3da);
        
    
        var popup_71815d6bbbeb4ffdf8fe26b1fe2f7e22 = L.popup({"maxWidth": 400});

        
            
                var html_9168e9eafc38c5aa4d9ddc235e6f56c2 = $(`<div id="html_9168e9eafc38c5aa4d9ddc235e6f56c2" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">翻尾石鱼</h3>     <p style="font-size:20px;">常见：锦鲤、家鸭、绿头鸭、鸳鸯、黑天鹅、麻雀、喜鹊 少见：苍鹭、龟类、蛙类、绿翅鸭、猫头鹰、戴圣等</p>     </div>`)[0];
                popup_71815d6bbbeb4ffdf8fe26b1fe2f7e22.setContent(html_9168e9eafc38c5aa4d9ddc235e6f56c2);
            
        

        marker_96422fb3c59153e9d94662b88ac380d5.bindPopup(popup_71815d6bbbeb4ffdf8fe26b1fe2f7e22)
        ;

        
    
    
            var marker_b9d520f14c8e1eca5d90e7108eb0fb81 = L.marker(
                [39.9927552, 116.3042595],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_089b6d6b7141f1bd54c65b94050a006d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b9d520f14c8e1eca5d90e7108eb0fb81.setIcon(icon_089b6d6b7141f1bd54c65b94050a006d);
        
    
        var popup_b246a2b98631318bfe39aee8ecab07b8 = L.popup({"maxWidth": 400});

        
            
                var html_7d5fd80e7f7a907f11cb82eb8376f575 = $(`<div id="html_7d5fd80e7f7a907f11cb82eb8376f575" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">慈济寺山门</h3>     <p style="font-size:20px;">锦鲤、家鸭、绿头鸭、鸳鸯、黑天鹅、麻雀、喜鹊 </p>     </div>`)[0];
                popup_b246a2b98631318bfe39aee8ecab07b8.setContent(html_7d5fd80e7f7a907f11cb82eb8376f575);
            
        

        marker_b9d520f14c8e1eca5d90e7108eb0fb81.bindPopup(popup_b246a2b98631318bfe39aee8ecab07b8)
        ;

        
    
    
            var marker_2675b2d9710567adcf3b745448c62c5e = L.marker(
                [39.988199, 116.3028161],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_933113001b0a54a70d06156dd667ded8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2675b2d9710567adcf3b745448c62c5e.setIcon(icon_933113001b0a54a70d06156dd667ded8);
        
    
        var popup_c04dd26833a6db6ba7cc3598618754b3 = L.popup({"maxWidth": 400});

        
            
                var html_318538466c094d78b31a326ed76cbe5b = $(`<div id="html_318538466c094d78b31a326ed76cbe5b" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">燕南园道路</h3>     <p style="font-size:20px;">猫咪、松鼠、刺猬</p>     </div>`)[0];
                popup_c04dd26833a6db6ba7cc3598618754b3.setContent(html_318538466c094d78b31a326ed76cbe5b);
            
        

        marker_2675b2d9710567adcf3b745448c62c5e.bindPopup(popup_c04dd26833a6db6ba7cc3598618754b3)
        ;

        
    
    
            var marker_95bbd4a0425d426621100db83a7015cc = L.marker(
                [39.9939947, 116.2993356],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_11fc1c07f0f9fe63b877e8a54ed39080 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_95bbd4a0425d426621100db83a7015cc.setIcon(icon_11fc1c07f0f9fe63b877e8a54ed39080);
        
    
        var popup_76f869867e29ce53335f1af49495f23c = L.popup({"maxWidth": 400});

        
            
                var html_543d25524adb917ff274e03d1684a5d7 = $(`<div id="html_543d25524adb917ff274e03d1684a5d7" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">鸣鹤园</h3>     <p style="font-size:20px;">白鸭、锦鲤</p>     </div>`)[0];
                popup_76f869867e29ce53335f1af49495f23c.setContent(html_543d25524adb917ff274e03d1684a5d7);
            
        

        marker_95bbd4a0425d426621100db83a7015cc.bindPopup(popup_76f869867e29ce53335f1af49495f23c)
        ;

        
    
    
            var marker_d01c87ddcb9c979227ea39ca66d1962d = L.marker(
                [39.9945311, 116.2992365],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_ac2ddb77ea1c36f385bca78394c01012 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d01c87ddcb9c979227ea39ca66d1962d.setIcon(icon_ac2ddb77ea1c36f385bca78394c01012);
        
    
        var popup_413fd3d878c9ebda8e5d6ea8b213f539 = L.popup({"maxWidth": 400});

        
            
                var html_8607c892040d5061b7fc1b8ff555cff3 = $(`<div id="html_8607c892040d5061b7fc1b8ff555cff3" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">赛克勒雕塑园-智圣雕塑</h3>     <p style="font-size:20px;">松鼠</p>     </div>`)[0];
                popup_413fd3d878c9ebda8e5d6ea8b213f539.setContent(html_8607c892040d5061b7fc1b8ff555cff3);
            
        

        marker_d01c87ddcb9c979227ea39ca66d1962d.bindPopup(popup_413fd3d878c9ebda8e5d6ea8b213f539)
        ;

        
    
    
            var marker_d8ebb1f2a1aef3f9a8da088519f7a82d = L.marker(
                [39.995355478278405, 116.3007635],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_0940f3a47b895b0d77816e6d0e5c9ed7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d8ebb1f2a1aef3f9a8da088519f7a82d.setIcon(icon_0940f3a47b895b0d77816e6d0e5c9ed7);
        
    
        var popup_9f05c19435d43c52c673ff6ec8499c54 = L.popup({"maxWidth": 400});

        
            
                var html_dc1e949fa19fb96a588852b96b884e2e = $(`<div id="html_dc1e949fa19fb96a588852b96b884e2e" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">红湖</h3>     <p style="font-size:20px;">锦鲤、绿头鸭、家鸭</p>     </div>`)[0];
                popup_9f05c19435d43c52c673ff6ec8499c54.setContent(html_dc1e949fa19fb96a588852b96b884e2e);
            
        

        marker_d8ebb1f2a1aef3f9a8da088519f7a82d.bindPopup(popup_9f05c19435d43c52c673ff6ec8499c54)
        ;

        
    
    
            var marker_3707a39c0dbfdf9b0d22073c6afc6784 = L.marker(
                [39.99506957665272, 116.3003419649412],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_feb0dc75c268794ed68edcd80100e81a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3707a39c0dbfdf9b0d22073c6afc6784.setIcon(icon_feb0dc75c268794ed68edcd80100e81a);
        
    
        var popup_d41c3b794ca2f8c825b2eebd1440d186 = L.popup({"maxWidth": 400});

        
            
                var html_3d1fd7330922f497f37a9b89987cd18a = $(`<div id="html_3d1fd7330922f497f37a9b89987cd18a" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">校景亭下方池</h3>     <p style="font-size:20px;">黑天鹅（小天鹅）、绿头鸭、家鸭、白鸭</p>     </div>`)[0];
                popup_d41c3b794ca2f8c825b2eebd1440d186.setContent(html_3d1fd7330922f497f37a9b89987cd18a);
            
        

        marker_3707a39c0dbfdf9b0d22073c6afc6784.bindPopup(popup_d41c3b794ca2f8c825b2eebd1440d186)
        ;

        
    
    
            var marker_15c51410851ebf80ca0e68e2c2594ea5 = L.marker(
                [39.98956337979677, 116.30403239747612],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_046dfff0d28b336f2dab811601d4af87 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_15c51410851ebf80ca0e68e2c2594ea5.setIcon(icon_046dfff0d28b336f2dab811601d4af87);
        
    
        var popup_28267d52b6b490d0eb40e459f7391360 = L.popup({"maxWidth": 400});

        
            
                var html_6be60f8fdb9f11ba84fbf7df16f5831a = $(`<div id="html_6be60f8fdb9f11ba84fbf7df16f5831a" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">燕南食堂对面草地</h3>     <p style="font-size:20px;">松鼠、啄木鸟</p>     </div>`)[0];
                popup_28267d52b6b490d0eb40e459f7391360.setContent(html_6be60f8fdb9f11ba84fbf7df16f5831a);
            
        

        marker_15c51410851ebf80ca0e68e2c2594ea5.bindPopup(popup_28267d52b6b490d0eb40e459f7391360)
        ;

        
    
    
            var marker_6c97fec860a44b1251ff15c4badef855 = L.marker(
                [39.9888251, 116.30146834342769],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_d9f1ef8a51fffa1bb7d9ea13e05ac373 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6c97fec860a44b1251ff15c4badef855.setIcon(icon_d9f1ef8a51fffa1bb7d9ea13e05ac373);
        
    
        var popup_0b95a0142640a7ce66f2742864d1ce83 = L.popup({"maxWidth": 400});

        
            
                var html_cfc66c4a86c5138b7cb9ebc5e653d1eb = $(`<div id="html_cfc66c4a86c5138b7cb9ebc5e653d1eb" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">燕南园西侧道路</h3>     <p style="font-size:20px;">猫咪</p>     </div>`)[0];
                popup_0b95a0142640a7ce66f2742864d1ce83.setContent(html_cfc66c4a86c5138b7cb9ebc5e653d1eb);
            
        

        marker_6c97fec860a44b1251ff15c4badef855.bindPopup(popup_0b95a0142640a7ce66f2742864d1ce83)
        ;

        
    
    
            var marker_8e6d7ac68ba1aabbe43bf11050316477 = L.marker(
                [39.9870834, 116.30499626387056],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_160d448bb56651a1dab289dea681cf91 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8e6d7ac68ba1aabbe43bf11050316477.setIcon(icon_160d448bb56651a1dab289dea681cf91);
        
    
        var popup_3e5f0d9daa316552a195b4896cce52cd = L.popup({"maxWidth": 400});

        
            
                var html_322bb1068ec1a6c3eb9ae274c3e6b2a7 = $(`<div id="html_322bb1068ec1a6c3eb9ae274c3e6b2a7" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">新太阳南侧</h3>     <p style="font-size:20px;">猫咪</p>     </div>`)[0];
                popup_3e5f0d9daa316552a195b4896cce52cd.setContent(html_322bb1068ec1a6c3eb9ae274c3e6b2a7);
            
        

        marker_8e6d7ac68ba1aabbe43bf11050316477.bindPopup(popup_3e5f0d9daa316552a195b4896cce52cd)
        ;

        
    
    
            var marker_cad56e40980ddb2e2a1d32e40e73400d = L.marker(
                [39.99006169107632, 116.30569978441213],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_416769ab59caab9c40c236172c951e4c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cad56e40980ddb2e2a1d32e40e73400d.setIcon(icon_416769ab59caab9c40c236172c951e4c);
        
    
        var popup_9b2d082a3bfb66601741b156b9440a33 = L.popup({"maxWidth": 400});

        
            
                var html_a6488666b3822e64447fa4cf359e3cfc = $(`<div id="html_a6488666b3822e64447fa4cf359e3cfc" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">博雅学堂门前空地</h3>     <p style="font-size:20px;">猫咪</p>     </div>`)[0];
                popup_9b2d082a3bfb66601741b156b9440a33.setContent(html_a6488666b3822e64447fa4cf359e3cfc);
            
        

        marker_cad56e40980ddb2e2a1d32e40e73400d.bindPopup(popup_9b2d082a3bfb66601741b156b9440a33)
        ;

        
    
    
            var marker_ca96f22a1776b67f4f09b65f5523486c = L.marker(
                [39.99397488100262, 116.30807335284004],
                {}
            ).addTo(map_78c1e3cc282e8e393a762c3ca42db868);
        
    
            var icon_1fd0a348be16ded7c3ad62b4f11845fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ca96f22a1776b67f4f09b65f5523486c.setIcon(icon_1fd0a348be16ded7c3ad62b4f11845fc);
        
    
        var popup_aa7db64caaa60a535cb2979dd74c97fa = L.popup({"maxWidth": 400});

        
            
                var html_f51ff7364b41ee1ef02fd28131cbaa1b = $(`<div id="html_f51ff7364b41ee1ef02fd28131cbaa1b" style="width: 100.0%; height: 100.0%;">     <h3 style="font-size:24px;">窄亭</h3>     <p style="font-size:20px;">猫咪</p>     </div>`)[0];
                popup_aa7db64caaa60a535cb2979dd74c97fa.setContent(html_f51ff7364b41ee1ef02fd28131cbaa1b);
            
        

        marker_ca96f22a1776b67f4f09b65f5523486c.bindPopup(popup_aa7db64caaa60a535cb2979dd74c97fa)
        ;

        
    
</script>
</html>