<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c92cddfd007331ffb17862d0b66b7bda {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c92cddfd007331ffb17862d0b66b7bda" ></div>
        
</body>
<script>
    
    
            var map_c92cddfd007331ffb17862d0b66b7bda = L.map(
                "map_c92cddfd007331ffb17862d0b66b7bda",
                {
                    center: [39.993040739629635, 116.3037139851852],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_29f594ace93ebc4a3d38849e0df31b69 = L.tileLayer(
                "https://tile-a.openstreetmap.fr/hot/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_29f594ace93ebc4a3d38849e0df31b69.addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var marker_08acbcb8f6bd26f6f8ad68d140be0b30 = L.marker(
                [39.99401659, 116.3082928],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_ea2c9e25e1f26bb99a5cbcf48871c102 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_08acbcb8f6bd26f6f8ad68d140be0b30.setIcon(icon_ea2c9e25e1f26bb99a5cbcf48871c102);
        
    
        var popup_80229e99888204ad8b13b7b266a8721d = L.popup({"maxWidth": 400});

        
            
                var html_08f469a58edece4770f4a13dccfa70c4 = $(`<div id="html_08f469a58edece4770f4a13dccfa70c4" style="width: 100.0%; height: 100.0%;">蒋家胡同四合院，隐蔽度5颗星</div>`)[0];
                popup_80229e99888204ad8b13b7b266a8721d.setContent(html_08f469a58edece4770f4a13dccfa70c4);
            
        

        marker_08acbcb8f6bd26f6f8ad68d140be0b30.bindPopup(popup_80229e99888204ad8b13b7b266a8721d)
        ;

        
    
    
            var marker_4a242222339405a3107111d78f599b72 = L.marker(
                [39.99518437, 116.3010887],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_85310afec9e4083ed55c1343a92740b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_4a242222339405a3107111d78f599b72.setIcon(icon_85310afec9e4083ed55c1343a92740b5);
        
    
        var popup_f22152d20ea0b16dfeb2fc30635cf01b = L.popup({"maxWidth": 400});

        
            
                var html_4ecf48b68507cf9ba33029bd676b724c = $(`<div id="html_4ecf48b68507cf9ba33029bd676b724c" style="width: 100.0%; height: 100.0%;">“柳浪闻莺”石牌坊，隐蔽度4颗星</div>`)[0];
                popup_f22152d20ea0b16dfeb2fc30635cf01b.setContent(html_4ecf48b68507cf9ba33029bd676b724c);
            
        

        marker_4a242222339405a3107111d78f599b72.bindPopup(popup_f22152d20ea0b16dfeb2fc30635cf01b)
        ;

        
    
    
            var marker_3810bcc896df3551a1f1c52d281e5420 = L.marker(
                [39.995513, 116.3011583],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_7cb5ec16f6047df9290c5748b338b66f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_3810bcc896df3551a1f1c52d281e5420.setIcon(icon_7cb5ec16f6047df9290c5748b338b66f);
        
    
        var popup_d07534e8c8e34fa5c6f8ea922782b8d9 = L.popup({"maxWidth": 400});

        
            
                var html_a85e508ca6079d7b849a743f27b32271 = $(`<div id="html_a85e508ca6079d7b849a743f27b32271" style="width: 100.0%; height: 100.0%;">清代散落石构件，隐蔽度4颗星</div>`)[0];
                popup_d07534e8c8e34fa5c6f8ea922782b8d9.setContent(html_a85e508ca6079d7b849a743f27b32271);
            
        

        marker_3810bcc896df3551a1f1c52d281e5420.bindPopup(popup_d07534e8c8e34fa5c6f8ea922782b8d9)
        ;

        
    
    
            var marker_efc43ddb5a516ad57875887a6ace1b82 = L.marker(
                [39.99548066, 116.2984789],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_f9881c40eb3244430d6c870a10b849a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_efc43ddb5a516ad57875887a6ace1b82.setIcon(icon_f9881c40eb3244430d6c870a10b849a2);
        
    
        var popup_dee625693c5f53d16fc30b446120a2f7 = L.popup({"maxWidth": 400});

        
            
                var html_e9cf87069dab4edf27376f68272abeb9 = $(`<div id="html_e9cf87069dab4edf27376f68272abeb9" style="width: 100.0%; height: 100.0%;">半月台乾隆诗碑，隐蔽度5颗星</div>`)[0];
                popup_dee625693c5f53d16fc30b446120a2f7.setContent(html_e9cf87069dab4edf27376f68272abeb9);
            
        

        marker_efc43ddb5a516ad57875887a6ace1b82.bindPopup(popup_dee625693c5f53d16fc30b446120a2f7)
        ;

        
    
    
            var marker_bc97646fbaecb36750c3c1fa4d23363b = L.marker(
                [39.99200284, 116.3003463],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_5a01f028076c637ae131a65c3304faf5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_bc97646fbaecb36750c3c1fa4d23363b.setIcon(icon_5a01f028076c637ae131a65c3304faf5);
        
    
        var popup_8fcc2cf8b54601eec3e46b682ddb4530 = L.popup({"maxWidth": 400});

        
            
                var html_57e58fe991a7dd980f21a546403e970f = $(`<div id="html_57e58fe991a7dd980f21a546403e970f" style="width: 100.0%; height: 100.0%;">三一八烈士纪念碑，隐蔽度3颗星</div>`)[0];
                popup_8fcc2cf8b54601eec3e46b682ddb4530.setContent(html_57e58fe991a7dd980f21a546403e970f);
            
        

        marker_bc97646fbaecb36750c3c1fa4d23363b.bindPopup(popup_8fcc2cf8b54601eec3e46b682ddb4530)
        ;

        
    
    
            var marker_8f3a1776e9fd27a9deff1446d3d4dbba = L.marker(
                [39.9913464, 116.3032145],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_37d924fc3de4b652b72aba60d47c5c86 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_8f3a1776e9fd27a9deff1446d3d4dbba.setIcon(icon_37d924fc3de4b652b72aba60d47c5c86);
        
    
        var popup_e3ba50fab9673f78eff056c5ad6a8bac = L.popup({"maxWidth": 400});

        
            
                var html_876dab8172b58be7a552f59fb73fbbb5 = $(`<div id="html_876dab8172b58be7a552f59fb73fbbb5" style="width: 100.0%; height: 100.0%;">滚墩石，隐蔽度4颗星</div>`)[0];
                popup_e3ba50fab9673f78eff056c5ad6a8bac.setContent(html_876dab8172b58be7a552f59fb73fbbb5);
            
        

        marker_8f3a1776e9fd27a9deff1446d3d4dbba.bindPopup(popup_e3ba50fab9673f78eff056c5ad6a8bac)
        ;

        
    
    
            var marker_4a422e74dc91abdfc3952b09070ddd37 = L.marker(
                [39.99447778, 116.3038471],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_c3664c02fe92d828a83e03f6057f7609 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_4a422e74dc91abdfc3952b09070ddd37.setIcon(icon_c3664c02fe92d828a83e03f6057f7609);
        
    
        var popup_958925c7aa4a4878c9305e81a7a2c884 = L.popup({"maxWidth": 400});

        
            
                var html_d52f11a1bbd64682fd8ddd25ebec0f3a = $(`<div id="html_d52f11a1bbd64682fd8ddd25ebec0f3a" style="width: 100.0%; height: 100.0%;">石屏风，隐蔽度3颗星</div>`)[0];
                popup_958925c7aa4a4878c9305e81a7a2c884.setContent(html_d52f11a1bbd64682fd8ddd25ebec0f3a);
            
        

        marker_4a422e74dc91abdfc3952b09070ddd37.bindPopup(popup_958925c7aa4a4878c9305e81a7a2c884)
        ;

        
    
    
            var marker_5a541dfa9254348419812d3ae5944760 = L.marker(
                [39.99535374, 116.3046245],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_92332789646f022f3eecb5a20c672df1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_5a541dfa9254348419812d3ae5944760.setIcon(icon_92332789646f022f3eecb5a20c672df1);
        
    
        var popup_e8738043600b7c56104bdb949f4a6bcd = L.popup({"maxWidth": 400});

        
            
                var html_4d6893594d19af01807f2fa7db5e53b7 = $(`<div id="html_4d6893594d19af01807f2fa7db5e53b7" style="width: 100.0%; height: 100.0%;">镜春园石碑，隐蔽度4颗星</div>`)[0];
                popup_e8738043600b7c56104bdb949f4a6bcd.setContent(html_4d6893594d19af01807f2fa7db5e53b7);
            
        

        marker_5a541dfa9254348419812d3ae5944760.bindPopup(popup_e8738043600b7c56104bdb949f4a6bcd)
        ;

        
    
    
            var marker_402f8fcc1e68812496189e167e71ba65 = L.marker(
                [39.99643768, 116.3045776],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_abfda21f499dc22c33d968a0f1b532ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_402f8fcc1e68812496189e167e71ba65.setIcon(icon_abfda21f499dc22c33d968a0f1b532ce);
        
    
        var popup_d19dc8384683cc04fa24cb7d6958c8f6 = L.popup({"maxWidth": 400});

        
            
                var html_2126f6a4904138b8cc9ae412dfa99840 = $(`<div id="html_2126f6a4904138b8cc9ae412dfa99840" style="width: 100.0%; height: 100.0%;">朗润园石碑，隐蔽度5颗星</div>`)[0];
                popup_d19dc8384683cc04fa24cb7d6958c8f6.setContent(html_2126f6a4904138b8cc9ae412dfa99840);
            
        

        marker_402f8fcc1e68812496189e167e71ba65.bindPopup(popup_d19dc8384683cc04fa24cb7d6958c8f6)
        ;

        
    
    
            var marker_011024b528cc637fe7e7075c29691b06 = L.marker(
                [39.99595141, 116.3036221],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_562c8299a60fbe8042545ec36d20132d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_011024b528cc637fe7e7075c29691b06.setIcon(icon_562c8299a60fbe8042545ec36d20132d);
        
    
        var popup_a8bf71fb371cebaae006fc0fdf3fd64a = L.popup({"maxWidth": 400});

        
            
                var html_4d474ae33bae58b58da2dc31d5422507 = $(`<div id="html_4d474ae33bae58b58da2dc31d5422507" style="width: 100.0%; height: 100.0%;">“断桥残雪”石牌坊，隐蔽度4颗星</div>`)[0];
                popup_a8bf71fb371cebaae006fc0fdf3fd64a.setContent(html_4d474ae33bae58b58da2dc31d5422507);
            
        

        marker_011024b528cc637fe7e7075c29691b06.bindPopup(popup_a8bf71fb371cebaae006fc0fdf3fd64a)
        ;

        
    
    
            var marker_cfc6b18a378c36ff94d6792883335fe6 = L.marker(
                [39.99162395, 116.3013956],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_2ef00acdbaaa1f5f16583a5a556c30c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_cfc6b18a378c36ff94d6792883335fe6.setIcon(icon_2ef00acdbaaa1f5f16583a5a556c30c3);
        
    
        var popup_85f2b143a1ca961eae27375bc59c81c1 = L.popup({"maxWidth": 400});

        
            
                var html_bf368118a788f3dff3770fd3cbd0fa1f = $(`<div id="html_bf368118a788f3dff3770fd3cbd0fa1f" style="width: 100.0%; height: 100.0%;">香炉，隐蔽度4颗星</div>`)[0];
                popup_85f2b143a1ca961eae27375bc59c81c1.setContent(html_bf368118a788f3dff3770fd3cbd0fa1f);
            
        

        marker_cfc6b18a378c36ff94d6792883335fe6.bindPopup(popup_85f2b143a1ca961eae27375bc59c81c1)
        ;

        
    
    
            var marker_5922ddf7bc977fef1fcb2c85f83370a4 = L.marker(
                [39.99379898, 116.3081938],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_a63a3c85e8272d3dfddd3cd348fc7558 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_5922ddf7bc977fef1fcb2c85f83370a4.setIcon(icon_a63a3c85e8272d3dfddd3cd348fc7558);
        
    
        var popup_dfea01ecdeaada8666107f4176086b97 = L.popup({"maxWidth": 400});

        
            
                var html_7cdcd03b69893510d7109499549da56a = $(`<div id="html_7cdcd03b69893510d7109499549da56a" style="width: 100.0%; height: 100.0%;">石碑与法柱颂，隐蔽度3颗星</div>`)[0];
                popup_dfea01ecdeaada8666107f4176086b97.setContent(html_7cdcd03b69893510d7109499549da56a);
            
        

        marker_5922ddf7bc977fef1fcb2c85f83370a4.bindPopup(popup_dfea01ecdeaada8666107f4176086b97)
        ;

        
    
    
            var marker_51481e5ed1e634bb30b507559e2ade25 = L.marker(
                [39.99190838, 116.3026456],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_496ac0c9ca708740e47b1b95fc549248 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_51481e5ed1e634bb30b507559e2ade25.setIcon(icon_496ac0c9ca708740e47b1b95fc549248);
        
    
        var popup_d2450784b7395fb1cd9e1bfaf43e1053 = L.popup({"maxWidth": 400});

        
            
                var html_f908e1aca6d9f66d03b1b2ba7a1ca6e0 = $(`<div id="html_f908e1aca6d9f66d03b1b2ba7a1ca6e0" style="width: 100.0%; height: 100.0%;">静思石，隐蔽度5颗星</div>`)[0];
                popup_d2450784b7395fb1cd9e1bfaf43e1053.setContent(html_f908e1aca6d9f66d03b1b2ba7a1ca6e0);
            
        

        marker_51481e5ed1e634bb30b507559e2ade25.bindPopup(popup_d2450784b7395fb1cd9e1bfaf43e1053)
        ;

        
    
    
            var marker_d8ab7572c1e82cd6e16d2c4eed27cb65 = L.marker(
                [39.99140385, 116.304973],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_48895748019780c370cc74795e89112d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d8ab7572c1e82cd6e16d2c4eed27cb65.setIcon(icon_48895748019780c370cc74795e89112d);
        
    
        var popup_b6495b0285c68efd0e6e246dfc98e9c7 = L.popup({"maxWidth": 400});

        
            
                var html_44718738a76ed33ad24c681a26f9f7cd = $(`<div id="html_44718738a76ed33ad24c681a26f9f7cd" style="width: 100.0%; height: 100.0%;">“振兴中华”石，隐蔽度3颗星</div>`)[0];
                popup_b6495b0285c68efd0e6e246dfc98e9c7.setContent(html_44718738a76ed33ad24c681a26f9f7cd);
            
        

        marker_d8ab7572c1e82cd6e16d2c4eed27cb65.bindPopup(popup_b6495b0285c68efd0e6e246dfc98e9c7)
        ;

        
    
    
            var marker_b91c8c78db844dbf6da129a794fb6270 = L.marker(
                [39.986959, 116.3033288],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_e6c6823f2daa0e37c9bf6bdaa0f61682 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_b91c8c78db844dbf6da129a794fb6270.setIcon(icon_e6c6823f2daa0e37c9bf6bdaa0f61682);
        
    
        var popup_eb168d619bf6eb5c81a328d487c88434 = L.popup({"maxWidth": 400});

        
            
                var html_76aa93b3223f9591fe4207343b3c5333 = $(`<div id="html_76aa93b3223f9591fe4207343b3c5333" style="width: 100.0%; height: 100.0%;">民主与科学，隐蔽度3颗星</div>`)[0];
                popup_eb168d619bf6eb5c81a328d487c88434.setContent(html_76aa93b3223f9591fe4207343b3c5333);
            
        

        marker_b91c8c78db844dbf6da129a794fb6270.bindPopup(popup_eb168d619bf6eb5c81a328d487c88434)
        ;

        
    
    
            var marker_c636d9bae37b4199d232b2e49372f94d = L.marker(
                [39.99252067, 116.3032411],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_ebbaad1f5a94645a57f9c0225c8f4b5b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_c636d9bae37b4199d232b2e49372f94d.setIcon(icon_ebbaad1f5a94645a57f9c0225c8f4b5b);
        
    
        var popup_3459ddc58d2743fc7576dfeefc7ca302 = L.popup({"maxWidth": 400});

        
            
                var html_bbcf62edb10897f933457330914dd4a1 = $(`<div id="html_bbcf62edb10897f933457330914dd4a1" style="width: 100.0%; height: 100.0%;">赖朴吾和夏仁德墓，隐蔽度3颗星</div>`)[0];
                popup_3459ddc58d2743fc7576dfeefc7ca302.setContent(html_bbcf62edb10897f933457330914dd4a1);
            
        

        marker_c636d9bae37b4199d232b2e49372f94d.bindPopup(popup_3459ddc58d2743fc7576dfeefc7ca302)
        ;

        
    
    
            var marker_5d51cfd907da256454641ed727dc4de1 = L.marker(
                [39.99357463, 116.2992273],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_4556fc0aa889785fce027bfc4630f534 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_5d51cfd907da256454641ed727dc4de1.setIcon(icon_4556fc0aa889785fce027bfc4630f534);
        
    
        var popup_4a9181288999fc381100e84ca3d5074e = L.popup({"maxWidth": 400});

        
            
                var html_f6a84fe9dec96a2bd18e9c26d472d488 = $(`<div id="html_f6a84fe9dec96a2bd18e9c26d472d488" style="width: 100.0%; height: 100.0%;">1924旗杆座，隐蔽度5颗星</div>`)[0];
                popup_4a9181288999fc381100e84ca3d5074e.setContent(html_f6a84fe9dec96a2bd18e9c26d472d488);
            
        

        marker_5d51cfd907da256454641ed727dc4de1.bindPopup(popup_4a9181288999fc381100e84ca3d5074e)
        ;

        
    
    
            var marker_32f005f74aa144be8e00180a57f56f35 = L.marker(
                [39.99132553, 116.3022388],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_1a68e8ac828c0e967f14b036cf481620 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_32f005f74aa144be8e00180a57f56f35.setIcon(icon_1a68e8ac828c0e967f14b036cf481620);
        
    
        var popup_7f376f991f3782bb404964a28af53dd3 = L.popup({"maxWidth": 400});

        
            
                var html_c63a2ff702b742cdb949689b6e4d000b = $(`<div id="html_c63a2ff702b742cdb949689b6e4d000b" style="width: 100.0%; height: 100.0%;">“建园留念”石，隐蔽度5颗星</div>`)[0];
                popup_7f376f991f3782bb404964a28af53dd3.setContent(html_c63a2ff702b742cdb949689b6e4d000b);
            
        

        marker_32f005f74aa144be8e00180a57f56f35.bindPopup(popup_7f376f991f3782bb404964a28af53dd3)
        ;

        
    
    
            var marker_e8fe89a837b325865b8b578179170a5f = L.marker(
                [39.98823638, 116.3037703],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_9cf2c2075250ff371d69f24a0354b373 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_e8fe89a837b325865b8b578179170a5f.setIcon(icon_9cf2c2075250ff371d69f24a0354b373);
        
    
        var popup_e9dda480e4e9f3e7f87a73715ddf0a28 = L.popup({"maxWidth": 400});

        
            
                var html_d963900154d59eafdf831ea5da5a9de6 = $(`<div id="html_d963900154d59eafdf831ea5da5a9de6" style="width: 100.0%; height: 100.0%;">陈岱孙雕塑，隐蔽度4颗星</div>`)[0];
                popup_e9dda480e4e9f3e7f87a73715ddf0a28.setContent(html_d963900154d59eafdf831ea5da5a9de6);
            
        

        marker_e8fe89a837b325865b8b578179170a5f.bindPopup(popup_e9dda480e4e9f3e7f87a73715ddf0a28)
        ;

        
    
    
            var marker_7f6775adac632b7f5ad3dc9f622f957d = L.marker(
                [39.9880646, 116.3033046],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_381569a4b3371bb32e987fc8cf427d41 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_7f6775adac632b7f5ad3dc9f622f957d.setIcon(icon_381569a4b3371bb32e987fc8cf427d41);
        
    
        var popup_00a4f1b6531b80c3adb98bd46099131c = L.popup({"maxWidth": 400});

        
            
                var html_4d945343b82f421d246d0547a922376e = $(`<div id="html_4d945343b82f421d246d0547a922376e" style="width: 100.0%; height: 100.0%;">冯友兰故居，隐蔽度3颗星</div>`)[0];
                popup_00a4f1b6531b80c3adb98bd46099131c.setContent(html_4d945343b82f421d246d0547a922376e);
            
        

        marker_7f6775adac632b7f5ad3dc9f622f957d.bindPopup(popup_00a4f1b6531b80c3adb98bd46099131c)
        ;

        
    
    
            var marker_34bbc36382fa2dac8b3a85dda97b7f4d = L.marker(
                [39.99755834, 116.3052291],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_41ba9b0672214b2ffd08c8bdcc3e8f1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_34bbc36382fa2dac8b3a85dda97b7f4d.setIcon(icon_41ba9b0672214b2ffd08c8bdcc3e8f1d);
        
    
        var popup_c3e43e221278558ea343ad89545d5f81 = L.popup({"maxWidth": 400});

        
            
                var html_668d9b8d1a2a1ab5869739ed4288f2ee = $(`<div id="html_668d9b8d1a2a1ab5869739ed4288f2ee" style="width: 100.0%; height: 100.0%;">象棋盘，隐蔽度3颗星</div>`)[0];
                popup_c3e43e221278558ea343ad89545d5f81.setContent(html_668d9b8d1a2a1ab5869739ed4288f2ee);
            
        

        marker_34bbc36382fa2dac8b3a85dda97b7f4d.bindPopup(popup_c3e43e221278558ea343ad89545d5f81)
        ;

        
    
    
            var marker_3022ab52b09b10e3eff9cf7fe78f4cc7 = L.marker(
                [39.99177313, 116.3047307],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_576c7688d962cf243f5575b5fb285eae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_3022ab52b09b10e3eff9cf7fe78f4cc7.setIcon(icon_576c7688d962cf243f5575b5fb285eae);
        
    
        var popup_1014a7ad4a81e091c6cb0a2377d60356 = L.popup({"maxWidth": 400});

        
            
                var html_59130f900c885d453f48a61ea5b15aed = $(`<div id="html_59130f900c885d453f48a61ea5b15aed" style="width: 100.0%; height: 100.0%;">南极石，隐蔽度3颗星</div>`)[0];
                popup_1014a7ad4a81e091c6cb0a2377d60356.setContent(html_59130f900c885d453f48a61ea5b15aed);
            
        

        marker_3022ab52b09b10e3eff9cf7fe78f4cc7.bindPopup(popup_1014a7ad4a81e091c6cb0a2377d60356)
        ;

        
    
    
            var marker_4635eb372a248e1c98bf05b7926689cd = L.marker(
                [39.99340945, 116.3071567],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_0fe57b48c96d37f0a38161108783737f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_4635eb372a248e1c98bf05b7926689cd.setIcon(icon_0fe57b48c96d37f0a38161108783737f);
        
    
        var popup_c35da76d2a5efcad800258a65582b0a5 = L.popup({"maxWidth": 400});

        
            
                var html_a7dd1db3824177779540714836d86491 = $(`<div id="html_a7dd1db3824177779540714836d86491" style="width: 100.0%; height: 100.0%;">法学院獬豸雕像，隐蔽度4颗星</div>`)[0];
                popup_c35da76d2a5efcad800258a65582b0a5.setContent(html_a7dd1db3824177779540714836d86491);
            
        

        marker_4635eb372a248e1c98bf05b7926689cd.bindPopup(popup_c35da76d2a5efcad800258a65582b0a5)
        ;

        
    
    
            var marker_8ae3f4f72f335ee00217ef25e3e26693 = L.marker(
                [39.99361394, 116.3071379],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_d5f751a90e283cda855d892587090e27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_8ae3f4f72f335ee00217ef25e3e26693.setIcon(icon_d5f751a90e283cda855d892587090e27);
        
    
        var popup_cc1eb576a6101e84f3096d2efa8e2f3b = L.popup({"maxWidth": 400});

        
            
                var html_87f3040b00f2bb869f52d9927f921f4e = $(`<div id="html_87f3040b00f2bb869f52d9927f921f4e" style="width: 100.0%; height: 100.0%;">光华舞女雕像，隐蔽度4颗星</div>`)[0];
                popup_cc1eb576a6101e84f3096d2efa8e2f3b.setContent(html_87f3040b00f2bb869f52d9927f921f4e);
            
        

        marker_8ae3f4f72f335ee00217ef25e3e26693.bindPopup(popup_cc1eb576a6101e84f3096d2efa8e2f3b)
        ;

        
    
    
            var marker_1057a3c430fdafdafe47d0e511f388bb = L.marker(
                [39.99349079, 116.3030951],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_35b6c476c1699bd5ec63476c3f525fe2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_1057a3c430fdafdafe47d0e511f388bb.setIcon(icon_35b6c476c1699bd5ec63476c3f525fe2);
        
    
        var popup_6b29ac54dc86cf1acad101fe7901d084 = L.popup({"maxWidth": 400});

        
            
                var html_db9a6f9e4c535a354e88529afbb7f0fb = $(`<div id="html_db9a6f9e4c535a354e88529afbb7f0fb" style="width: 100.0%; height: 100.0%;">北大百年纪念雕塑，隐蔽度3颗星</div>`)[0];
                popup_6b29ac54dc86cf1acad101fe7901d084.setContent(html_db9a6f9e4c535a354e88529afbb7f0fb);
            
        

        marker_1057a3c430fdafdafe47d0e511f388bb.bindPopup(popup_6b29ac54dc86cf1acad101fe7901d084)
        ;

        
    
    
            var marker_6c9e4732d6e0e383a61bf5760cdc6f06 = L.marker(
                [39.99332431, 116.3031178],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_80fe90d0fe3e6eccacb5b4ea8da75899 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_6c9e4732d6e0e383a61bf5760cdc6f06.setIcon(icon_80fe90d0fe3e6eccacb5b4ea8da75899);
        
    
        var popup_30f5a243711e86f453c2e1fb3915f133 = L.popup({"maxWidth": 400});

        
            
                var html_2a76ccb52f5495220aa31774ba0842e8 = $(`<div id="html_2a76ccb52f5495220aa31774ba0842e8" style="width: 100.0%; height: 100.0%;">北京大学星雕塑，隐蔽度3颗星</div>`)[0];
                popup_30f5a243711e86f453c2e1fb3915f133.setContent(html_2a76ccb52f5495220aa31774ba0842e8);
            
        

        marker_6c9e4732d6e0e383a61bf5760cdc6f06.bindPopup(popup_30f5a243711e86f453c2e1fb3915f133)
        ;

        
    
    
            var marker_dfab7f07a3ddf9cd590c7826564d25c2 = L.marker(
                [39.99374957, 116.3082406],
                {}
            ).addTo(map_c92cddfd007331ffb17862d0b66b7bda);
        
    
            var icon_fc37278c912ab0e82acfbf273175c56b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_dfab7f07a3ddf9cd590c7826564d25c2.setIcon(icon_fc37278c912ab0e82acfbf273175c56b);
        
    
        var popup_db114a61c43a813ea06395c597d15365 = L.popup({"maxWidth": 400});

        
            
                var html_c4008a355b74072309272c7f5773f64f = $(`<div id="html_c4008a355b74072309272c7f5773f64f" style="width: 100.0%; height: 100.0%;">樱树林，隐蔽度4颗星</div>`)[0];
                popup_db114a61c43a813ea06395c597d15365.setContent(html_c4008a355b74072309272c7f5773f64f);
            
        

        marker_dfab7f07a3ddf9cd590c7826564d25c2.bindPopup(popup_db114a61c43a813ea06395c597d15365)
        ;

        
    
</script>
</html>