<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_aca34f97b8918905aceb9876a659616a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_aca34f97b8918905aceb9876a659616a" ></div>
        
</body>
<script>
    
    
            var map_aca34f97b8918905aceb9876a659616a = L.map(
                "map_aca34f97b8918905aceb9876a659616a",
                {
                    center: [39.9922467324, 116.30284053999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_88972003a58b2d4042f4adbdeb080b82 = L.tileLayer(
                "https://tile-a.openstreetmap.fr/hot/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_88972003a58b2d4042f4adbdeb080b82.addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var marker_98040a74399a8232145259008f7722af = L.marker(
                [39.99280801, 116.3016927],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_a5ce05dd1fad175be95a45d564db4694 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_98040a74399a8232145259008f7722af.setIcon(icon_a5ce05dd1fad175be95a45d564db4694);
        
    
        var popup_b355505323e0461e5291ab9620641d98 = L.popup({"maxWidth": 400});

        
            
                var html_6c85fd40f2572f218a399420603fe044 = $(`<div id="html_6c85fd40f2572f218a399420603fe044" style="width: 100.0%; height: 100.0%;">乾隆诗碑</div>`)[0];
                popup_b355505323e0461e5291ab9620641d98.setContent(html_6c85fd40f2572f218a399420603fe044);
            
        

        marker_98040a74399a8232145259008f7722af.bindPopup(popup_b355505323e0461e5291ab9620641d98)
        ;

        
    
    
            var marker_1e62cbe8ae02503b17f3826cb158b9b9 = L.marker(
                [39.99295117, 116.3020754],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_0318095603689c8acb5f27e8ce1c5151 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_1e62cbe8ae02503b17f3826cb158b9b9.setIcon(icon_0318095603689c8acb5f27e8ce1c5151);
        
    
        var popup_8323b11eca4afbf549c77fa711437724 = L.popup({"maxWidth": 400});

        
            
                var html_46e00fd5be7cf4cb5b3603949e06fc6e = $(`<div id="html_46e00fd5be7cf4cb5b3603949e06fc6e" style="width: 100.0%; height: 100.0%;">石雕五供</div>`)[0];
                popup_8323b11eca4afbf549c77fa711437724.setContent(html_46e00fd5be7cf4cb5b3603949e06fc6e);
            
        

        marker_1e62cbe8ae02503b17f3826cb158b9b9.bindPopup(popup_8323b11eca4afbf549c77fa711437724)
        ;

        
    
    
            var marker_40e02da57656ce0017bd9be67a94381a = L.marker(
                [39.99310702, 116.3022521],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_0e5ba8db9cc6ac2d4ad658857c96b097 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_40e02da57656ce0017bd9be67a94381a.setIcon(icon_0e5ba8db9cc6ac2d4ad658857c96b097);
        
    
        var popup_71bfe05ad9838f53db25e3982a156f08 = L.popup({"maxWidth": 400});

        
            
                var html_74638ad1af63340957b16d2dc5b73ab6 = $(`<div id="html_74638ad1af63340957b16d2dc5b73ab6" style="width: 100.0%; height: 100.0%;">翻尾石鱼</div>`)[0];
                popup_71bfe05ad9838f53db25e3982a156f08.setContent(html_74638ad1af63340957b16d2dc5b73ab6);
            
        

        marker_40e02da57656ce0017bd9be67a94381a.bindPopup(popup_71bfe05ad9838f53db25e3982a156f08)
        ;

        
    
    
            var marker_b89d85bf336a74f45a29603034c74669 = L.marker(
                [39.99078485, 116.3023888],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_22320e1275be909d5a39d31cef038413 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_b89d85bf336a74f45a29603034c74669.setIcon(icon_22320e1275be909d5a39d31cef038413);
        
    
        var popup_252ba9365d80d7e05210ea8b73c3a88a = L.popup({"maxWidth": 400});

        
            
                var html_e75d8ec3db97d250683260d44684a3c8 = $(`<div id="html_e75d8ec3db97d250683260d44684a3c8" style="width: 100.0%; height: 100.0%;">石像生</div>`)[0];
                popup_252ba9365d80d7e05210ea8b73c3a88a.setContent(html_e75d8ec3db97d250683260d44684a3c8);
            
        

        marker_b89d85bf336a74f45a29603034c74669.bindPopup(popup_252ba9365d80d7e05210ea8b73c3a88a)
        ;

        
    
    
            var marker_95670975de6462102b9fabba5ac53d19 = L.marker(
                [39.99109309, 116.3023821],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_6127be322eb5f8ee90ddbc65c54be462 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_95670975de6462102b9fabba5ac53d19.setIcon(icon_6127be322eb5f8ee90ddbc65c54be462);
        
    
        var popup_923ce212bfd03502a71106eafda8ebe4 = L.popup({"maxWidth": 400});

        
            
                var html_bf049abae6f51cb1bcb472839fee37d5 = $(`<div id="html_bf049abae6f51cb1bcb472839fee37d5" style="width: 100.0%; height: 100.0%;">杭爱碑（右）</div>`)[0];
                popup_923ce212bfd03502a71106eafda8ebe4.setContent(html_bf049abae6f51cb1bcb472839fee37d5);
            
        

        marker_95670975de6462102b9fabba5ac53d19.bindPopup(popup_923ce212bfd03502a71106eafda8ebe4)
        ;

        
    
    
            var marker_588d8854c3fc46c3c460af0aec9a595b = L.marker(
                [39.99101094, 116.3017731],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_bbd7645c6d20ff6108e0bca05c164837 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_588d8854c3fc46c3c460af0aec9a595b.setIcon(icon_bbd7645c6d20ff6108e0bca05c164837);
        
    
        var popup_317e31788b53deb0ce7872c0de0b17ae = L.popup({"maxWidth": 400});

        
            
                var html_2055c0b3c8ca985fbf42f643a91164ff = $(`<div id="html_2055c0b3c8ca985fbf42f643a91164ff" style="width: 100.0%; height: 100.0%;">杭爱碑（左）</div>`)[0];
                popup_317e31788b53deb0ce7872c0de0b17ae.setContent(html_2055c0b3c8ca985fbf42f643a91164ff);
            
        

        marker_588d8854c3fc46c3c460af0aec9a595b.bindPopup(popup_317e31788b53deb0ce7872c0de0b17ae)
        ;

        
    
    
            var marker_390c0530a4bca18dd21a1cece20d350a = L.marker(
                [39.99219459, 116.3023111],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_5e0ef89ccba645d8d58ce7d3030a12d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_390c0530a4bca18dd21a1cece20d350a.setIcon(icon_5e0ef89ccba645d8d58ce7d3030a12d5);
        
    
        var popup_8832f78fc8d7dff3d3a0504f013c1db3 = L.popup({"maxWidth": 400});

        
            
                var html_bef25d2b1cd039e9bfd94e896ec513a5 = $(`<div id="html_bef25d2b1cd039e9bfd94e896ec513a5" style="width: 100.0%; height: 100.0%;">梅石碑</div>`)[0];
                popup_8832f78fc8d7dff3d3a0504f013c1db3.setContent(html_bef25d2b1cd039e9bfd94e896ec513a5);
            
        

        marker_390c0530a4bca18dd21a1cece20d350a.bindPopup(popup_8832f78fc8d7dff3d3a0504f013c1db3)
        ;

        
    
    
            var marker_7bae6d84ccd362f309f859d474066831 = L.marker(
                [39.99548066, 116.2984789],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_a9997f524cf7920255d30294990cd8eb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_7bae6d84ccd362f309f859d474066831.setIcon(icon_a9997f524cf7920255d30294990cd8eb);
        
    
        var popup_812d763a10d233fd6d80c3c0d49f0b1c = L.popup({"maxWidth": 400});

        
            
                var html_bb315d7b89b4ad4d557dec18931b8e2f = $(`<div id="html_bb315d7b89b4ad4d557dec18931b8e2f" style="width: 100.0%; height: 100.0%;">半月台乾隆诗碑</div>`)[0];
                popup_812d763a10d233fd6d80c3c0d49f0b1c.setContent(html_bb315d7b89b4ad4d557dec18931b8e2f);
            
        

        marker_7bae6d84ccd362f309f859d474066831.bindPopup(popup_812d763a10d233fd6d80c3c0d49f0b1c)
        ;

        
    
    
            var marker_0495fe876ff911971dcacabefe93f925 = L.marker(
                [39.99535374, 116.3046245],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_312b7e56dfa97dbbf450e77160513067 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_0495fe876ff911971dcacabefe93f925.setIcon(icon_312b7e56dfa97dbbf450e77160513067);
        
    
        var popup_5f8db3171a6a4d4dc0926c600e54c65b = L.popup({"maxWidth": 400});

        
            
                var html_4ca2981dd340f1bf0ac3f752f333de7a = $(`<div id="html_4ca2981dd340f1bf0ac3f752f333de7a" style="width: 100.0%; height: 100.0%;">镜春园石碑</div>`)[0];
                popup_5f8db3171a6a4d4dc0926c600e54c65b.setContent(html_4ca2981dd340f1bf0ac3f752f333de7a);
            
        

        marker_0495fe876ff911971dcacabefe93f925.bindPopup(popup_5f8db3171a6a4d4dc0926c600e54c65b)
        ;

        
    
    
            var marker_d92d237c0e994d1eb65c44e4d76302fb = L.marker(
                [39.99643768, 116.3045776],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_33acf691a9c35d6c2b74650b225c6650 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d92d237c0e994d1eb65c44e4d76302fb.setIcon(icon_33acf691a9c35d6c2b74650b225c6650);
        
    
        var popup_5fc67f50f4390063aaaaea2124d3b4ae = L.popup({"maxWidth": 400});

        
            
                var html_0aa95a80746fdcd2d5e11dca8c8f946d = $(`<div id="html_0aa95a80746fdcd2d5e11dca8c8f946d" style="width: 100.0%; height: 100.0%;">朗润园石碑</div>`)[0];
                popup_5fc67f50f4390063aaaaea2124d3b4ae.setContent(html_0aa95a80746fdcd2d5e11dca8c8f946d);
            
        

        marker_d92d237c0e994d1eb65c44e4d76302fb.bindPopup(popup_5fc67f50f4390063aaaaea2124d3b4ae)
        ;

        
    
    
            var marker_a653e1c146aa5d56d604843136fb1746 = L.marker(
                [39.99149461, 116.3001524],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_ece6d071a78b71b30171a537851dba41 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_a653e1c146aa5d56d604843136fb1746.setIcon(icon_ece6d071a78b71b30171a537851dba41);
        
    
        var popup_eb1dd6c8e0bc8507b23aa24394e0e9c8 = L.popup({"maxWidth": 400});

        
            
                var html_576336d37da1ab6a85bbef9ac9074b95 = $(`<div id="html_576336d37da1ab6a85bbef9ac9074b95" style="width: 100.0%; height: 100.0%;">塞万提斯纪念碑</div>`)[0];
                popup_eb1dd6c8e0bc8507b23aa24394e0e9c8.setContent(html_576336d37da1ab6a85bbef9ac9074b95);
            
        

        marker_a653e1c146aa5d56d604843136fb1746.bindPopup(popup_eb1dd6c8e0bc8507b23aa24394e0e9c8)
        ;

        
    
    
            var marker_17b946e74c3b29b894b863d3c88449d4 = L.marker(
                [39.99334579, 116.3002632],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_4a94b1299a3f26d5453d86c6ebfa7a3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_17b946e74c3b29b894b863d3c88449d4.setIcon(icon_4a94b1299a3f26d5453d86c6ebfa7a3b);
        
    
        var popup_a4273c196451d3161a58aba9cefbdb06 = L.popup({"maxWidth": 400});

        
            
                var html_f926dfa294b4f6cb3e7eb09b2829d77a = $(`<div id="html_f926dfa294b4f6cb3e7eb09b2829d77a" style="width: 100.0%; height: 100.0%;">麒麟（右）</div>`)[0];
                popup_a4273c196451d3161a58aba9cefbdb06.setContent(html_f926dfa294b4f6cb3e7eb09b2829d77a);
            
        

        marker_17b946e74c3b29b894b863d3c88449d4.bindPopup(popup_a4273c196451d3161a58aba9cefbdb06)
        ;

        
    
    
            var marker_f74cc579386a5af0e9d51b939b0cdafa = L.marker(
                [39.99343326, 116.3001789],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_de22790c05290def00370ef78bb4cafd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_f74cc579386a5af0e9d51b939b0cdafa.setIcon(icon_de22790c05290def00370ef78bb4cafd);
        
    
        var popup_6663996d0595434dd947fe7209be9860 = L.popup({"maxWidth": 400});

        
            
                var html_033057db2513f43278e1bbeefc28623c = $(`<div id="html_033057db2513f43278e1bbeefc28623c" style="width: 100.0%; height: 100.0%;">麒麟（左）</div>`)[0];
                popup_6663996d0595434dd947fe7209be9860.setContent(html_033057db2513f43278e1bbeefc28623c);
            
        

        marker_f74cc579386a5af0e9d51b939b0cdafa.bindPopup(popup_6663996d0595434dd947fe7209be9860)
        ;

        
    
    
            var marker_2669eb5deaaaab56b0c8cfc81cf9b222 = L.marker(
                [39.98814801, 116.3093854],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_233382d18f8393baa99cb4dc9762b09b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_2669eb5deaaaab56b0c8cfc81cf9b222.setIcon(icon_233382d18f8393baa99cb4dc9762b09b);
        
    
        var popup_fc7531e2c14ad28a5fc8844465e0fe0b = L.popup({"maxWidth": 400});

        
            
                var html_cb34b37a652076db3a4edc63c6ee9431 = $(`<div id="html_cb34b37a652076db3a4edc63c6ee9431" style="width: 100.0%; height: 100.0%;">冠军浮雕</div>`)[0];
                popup_fc7531e2c14ad28a5fc8844465e0fe0b.setContent(html_cb34b37a652076db3a4edc63c6ee9431);
            
        

        marker_2669eb5deaaaab56b0c8cfc81cf9b222.bindPopup(popup_fc7531e2c14ad28a5fc8844465e0fe0b)
        ;

        
    
    
            var marker_fef10d5d25a22ba2ccb88b0250d19d34 = L.marker(
                [39.986959, 116.3033288],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_4cd45656f0adf1554decf54d8dfd5365 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_fef10d5d25a22ba2ccb88b0250d19d34.setIcon(icon_4cd45656f0adf1554decf54d8dfd5365);
        
    
        var popup_67a08dd42c4fe7250fe711dda0b606a3 = L.popup({"maxWidth": 400});

        
            
                var html_d0e0bf1b3fc1464c0d5da35d6d17d727 = $(`<div id="html_d0e0bf1b3fc1464c0d5da35d6d17d727" style="width: 100.0%; height: 100.0%;">民主与科学</div>`)[0];
                popup_67a08dd42c4fe7250fe711dda0b606a3.setContent(html_d0e0bf1b3fc1464c0d5da35d6d17d727);
            
        

        marker_fef10d5d25a22ba2ccb88b0250d19d34.bindPopup(popup_67a08dd42c4fe7250fe711dda0b606a3)
        ;

        
    
    
            var marker_842f1853d0ce66a27b219aad992c773f = L.marker(
                [39.99296158, 116.3014209],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_4d783001fafe7ece98dd5694f51e06a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_842f1853d0ce66a27b219aad992c773f.setIcon(icon_4d783001fafe7ece98dd5694f51e06a2);
        
    
        var popup_d58f5a2648ffa128a8fc337494c33e77 = L.popup({"maxWidth": 400});

        
            
                var html_0e97b10a55bd167d1832aa2b7572f870 = $(`<div id="html_0e97b10a55bd167d1832aa2b7572f870" style="width: 100.0%; height: 100.0%;">蔡元培像</div>`)[0];
                popup_d58f5a2648ffa128a8fc337494c33e77.setContent(html_0e97b10a55bd167d1832aa2b7572f870);
            
        

        marker_842f1853d0ce66a27b219aad992c773f.bindPopup(popup_d58f5a2648ffa128a8fc337494c33e77)
        ;

        
    
    
            var marker_9c2ee98836aeeab05fd467b43f496024 = L.marker(
                [39.99163722, 116.3020233],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_430acc669ae11d3f7c0878d4f1adc462 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_9c2ee98836aeeab05fd467b43f496024.setIcon(icon_430acc669ae11d3f7c0878d4f1adc462);
        
    
        var popup_9608a84c0f71f843233705ee7ca905d1 = L.popup({"maxWidth": 400});

        
            
                var html_04ab87f81b3aa425f562787d62c1e5e7 = $(`<div id="html_04ab87f81b3aa425f562787d62c1e5e7" style="width: 100.0%; height: 100.0%;">李大钊像</div>`)[0];
                popup_9608a84c0f71f843233705ee7ca905d1.setContent(html_04ab87f81b3aa425f562787d62c1e5e7);
            
        

        marker_9c2ee98836aeeab05fd467b43f496024.bindPopup(popup_9608a84c0f71f843233705ee7ca905d1)
        ;

        
    
    
            var marker_d3739fbf06bb2c5b385be087888ba349 = L.marker(
                [39.99236136, 116.2991899],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_abfbbf8d35993bb07e73930a34b127c5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d3739fbf06bb2c5b385be087888ba349.setIcon(icon_abfbbf8d35993bb07e73930a34b127c5);
        
    
        var popup_c43e33d175f43ca11b253366dca9f988 = L.popup({"maxWidth": 400});

        
            
                var html_3d7be982ff7c8953b86f653183ad031a = $(`<div id="html_3d7be982ff7c8953b86f653183ad031a" style="width: 100.0%; height: 100.0%;">西南联大纪念碑</div>`)[0];
                popup_c43e33d175f43ca11b253366dca9f988.setContent(html_3d7be982ff7c8953b86f653183ad031a);
            
        

        marker_d3739fbf06bb2c5b385be087888ba349.bindPopup(popup_c43e33d175f43ca11b253366dca9f988)
        ;

        
    
    
            var marker_7026bdc49a3edf6ba3e0ad4a233fa8ae = L.marker(
                [39.98799975, 116.3090001],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_a095c0cb0686e7c8475a3e36ea1df651 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_7026bdc49a3edf6ba3e0ad4a233fa8ae.setIcon(icon_a095c0cb0686e7c8475a3e36ea1df651);
        
    
        var popup_d69a90a8c7af517b43136b2bdee77080 = L.popup({"maxWidth": 400});

        
            
                var html_4662df95dfdd8e26e34a771f0e8e7cc7 = $(`<div id="html_4662df95dfdd8e26e34a771f0e8e7cc7" style="width: 100.0%; height: 100.0%;">邱德拔体育馆</div>`)[0];
                popup_d69a90a8c7af517b43136b2bdee77080.setContent(html_4662df95dfdd8e26e34a771f0e8e7cc7);
            
        

        marker_7026bdc49a3edf6ba3e0ad4a233fa8ae.bindPopup(popup_d69a90a8c7af517b43136b2bdee77080)
        ;

        
    
    
            var marker_bed8bf4ec34cc29b0154434bd408a6c0 = L.marker(
                [39.98823638, 116.3037703],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_ed848d7df69cd825227df240def55ee2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_bed8bf4ec34cc29b0154434bd408a6c0.setIcon(icon_ed848d7df69cd825227df240def55ee2);
        
    
        var popup_6274e9da73039c65d11dc5d5f3263272 = L.popup({"maxWidth": 400});

        
            
                var html_db1654c88d1b600cfd6cbea1422f9311 = $(`<div id="html_db1654c88d1b600cfd6cbea1422f9311" style="width: 100.0%; height: 100.0%;">陈岱孙雕塑</div>`)[0];
                popup_6274e9da73039c65d11dc5d5f3263272.setContent(html_db1654c88d1b600cfd6cbea1422f9311);
            
        

        marker_bed8bf4ec34cc29b0154434bd408a6c0.bindPopup(popup_6274e9da73039c65d11dc5d5f3263272)
        ;

        
    
    
            var marker_2f632a0899c7db0dbddae3a131110f37 = L.marker(
                [39.99340945, 116.3071567],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_15f4fd62340eaf41732b26b7954288dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_2f632a0899c7db0dbddae3a131110f37.setIcon(icon_15f4fd62340eaf41732b26b7954288dc);
        
    
        var popup_e863db666dac9015dff88ccf6af80725 = L.popup({"maxWidth": 400});

        
            
                var html_f73e7fa88da85184cbd1c0fc3689ef5d = $(`<div id="html_f73e7fa88da85184cbd1c0fc3689ef5d" style="width: 100.0%; height: 100.0%;">法学院獬豸雕像</div>`)[0];
                popup_e863db666dac9015dff88ccf6af80725.setContent(html_f73e7fa88da85184cbd1c0fc3689ef5d);
            
        

        marker_2f632a0899c7db0dbddae3a131110f37.bindPopup(popup_e863db666dac9015dff88ccf6af80725)
        ;

        
    
    
            var marker_b82cfde29f2a0ccff3cb17f764732607 = L.marker(
                [39.99361394, 116.3071379],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_2fdf22b841dbd98a43d6f03a41e3a589 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_b82cfde29f2a0ccff3cb17f764732607.setIcon(icon_2fdf22b841dbd98a43d6f03a41e3a589);
        
    
        var popup_d35286ee66c91246f822d71ba01d0c20 = L.popup({"maxWidth": 400});

        
            
                var html_ce850d44b927f4eef100e497ad400e19 = $(`<div id="html_ce850d44b927f4eef100e497ad400e19" style="width: 100.0%; height: 100.0%;">光华舞女雕像</div>`)[0];
                popup_d35286ee66c91246f822d71ba01d0c20.setContent(html_ce850d44b927f4eef100e497ad400e19);
            
        

        marker_b82cfde29f2a0ccff3cb17f764732607.bindPopup(popup_d35286ee66c91246f822d71ba01d0c20)
        ;

        
    
    
            var marker_72a28042adc1feae1af0643cdc05b7f7 = L.marker(
                [39.99349079, 116.3030951],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_48e3f3164ade6d78d18b483402a75b9e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_72a28042adc1feae1af0643cdc05b7f7.setIcon(icon_48e3f3164ade6d78d18b483402a75b9e);
        
    
        var popup_f45bb9b88b074792d36331295799d2a0 = L.popup({"maxWidth": 400});

        
            
                var html_4606a82e6295c26e16394357f514eb16 = $(`<div id="html_4606a82e6295c26e16394357f514eb16" style="width: 100.0%; height: 100.0%;">北大百年纪念雕塑</div>`)[0];
                popup_f45bb9b88b074792d36331295799d2a0.setContent(html_4606a82e6295c26e16394357f514eb16);
            
        

        marker_72a28042adc1feae1af0643cdc05b7f7.bindPopup(popup_f45bb9b88b074792d36331295799d2a0)
        ;

        
    
    
            var marker_ca5c39053b24195eeaf130230175ca22 = L.marker(
                [39.99332431, 116.3031178],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_2bfb48f43f84fac3c6a2661818e48e84 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_ca5c39053b24195eeaf130230175ca22.setIcon(icon_2bfb48f43f84fac3c6a2661818e48e84);
        
    
        var popup_26fd158cde09afb5c05b1fccb40c5de9 = L.popup({"maxWidth": 400});

        
            
                var html_ae9739558ffc77025524e845e012fd40 = $(`<div id="html_ae9739558ffc77025524e845e012fd40" style="width: 100.0%; height: 100.0%;">北京大学星雕塑</div>`)[0];
                popup_26fd158cde09afb5c05b1fccb40c5de9.setContent(html_ae9739558ffc77025524e845e012fd40);
            
        

        marker_ca5c39053b24195eeaf130230175ca22.bindPopup(popup_26fd158cde09afb5c05b1fccb40c5de9)
        ;

        
    
    
            var marker_1b379025b88f5f524d2143c3671214f9 = L.marker(
                [39.99453111, 116.2992365],
                {}
            ).addTo(map_aca34f97b8918905aceb9876a659616a);
        
    
            var icon_a3f4bd460bfd08f9eff6265dda7dac70 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_1b379025b88f5f524d2143c3671214f9.setIcon(icon_a3f4bd460bfd08f9eff6265dda7dac70);
        
    
        var popup_3697b5e69e17ca3ed3ad3546cbb921e6 = L.popup({"maxWidth": 400});

        
            
                var html_00687e3588c2a3a8ad7e10b3f07b7eec = $(`<div id="html_00687e3588c2a3a8ad7e10b3f07b7eec" style="width: 100.0%; height: 100.0%;">赛克勒雕塑园-智圣雕塑</div>`)[0];
                popup_3697b5e69e17ca3ed3ad3546cbb921e6.setContent(html_00687e3588c2a3a8ad7e10b3f07b7eec);
            
        

        marker_1b379025b88f5f524d2143c3671214f9.bindPopup(popup_3697b5e69e17ca3ed3ad3546cbb921e6)
        ;

        
    
</script>
</html>